node_modules/
build/
.eslintcache
ipfs/
.vscode/

# Hardhat files
cache/
artifacts/
private.key
private.mnemonic
public/page_meta.png

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
