<!DOCTYPE html>
<html lang="en">
  <head>
    <title>☎ Consult 📱</title>
    <link
      rel="shortcut icon"
      href="<%= __webpack_public_path__ %>favicon.png"/>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#FF9720BB"/>
    <meta
      name="description"
      content="Call visualization tool."/>
    <link
      rel="apple-touch-icon"
      href="<%= __webpack_public_path__ %>logo.192⨯192.png"/>
    <link
      rel="manifest"
      href="<%= __webpack_public_path__ %>manifest.json"/>
    <meta property="og:type" content="website"/>
    <meta
      property="og:url"
      content="https://dysbulic.github.io/consult/"
    />
    <meta
      property="og:title"
      content="☎ Consult 📱: Call Metainfo"
    />
    <meta
      property="og:description"
      content="System to explore rich metadata associated timewise with the playback of a video."/>
    <meta
      property="og:image"
      content="https://repository-images.githubusercontent.com/361646673/72edbd73-7e79-4973-8506-11b4d350c9b4"/>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
